
.cabecalho{
    background-color:#343635;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; 
}
.cabecalho h1{
    color: #FFF8DC;
}

.b {
    margin-top: 15px;
    margin-right: 30px;
    width: 270px;
    height: 48px;
    background-color:#6939ee;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #FFF8DC;
}

.ibagem{
    justify-content: flex-start;
    padding: 10px;
    border-radius: 50px;
}


.cabecalho h1{
    margin-right: auto;
    padding-left: 10px;
}
