.cabecalho{
    background-color:#343635;
    padding: 20px;
    width: 1440px;
    height: 80px;
    display: flex;
    justify-content: space-between; 
}
.cabecalho h1{
    color: #FFF8DC;
}

.b {
    margin-top: 15px;
    margin-right: 15px;
    width: 240px;
    height: 48px;
    background-color:cadetblue;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color:blueviolet;
}

.ibagem{
    justify-content: flex-start;
    padding: 10px;
}


.cabecalho h1{
    margin-right: auto;
    padding-left: 10px;
}
