html{
    background-color:#343635;
}


.container_login{
    background-color: #fcfcfc;
    height: auto;
    padding-left: 13%;
    padding-right: 13%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.login{
    justify-content: center;
    width: 50%;
    height: 800px;
    display: flex;
    text-align: center;
    text-align: left;
    flex-direction: column;
}
.login h1 {
    margin: 0;
    color: #480169;
    font-size: 45px;
}

.login:nth-child(2) {
    flex-direction: column;
    height: auto;
    gap: 20px;
}

footer {
    left: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#343635;
    width: 100%;
    height: 80px;
}

footer .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.redes_sociais {
    width: 136px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-textos {
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer-textos p {
    margin: 0;
    color: #FFF8DC;
    text-decoration: none;
    font-size: 14px;
}

.redes_sociais img {
    margin-top: 5px;
    height: 60px;
    width: 60px;
    display: block;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs input {
    margin: 0;
    width: 75%;
    height: 40px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;
    padding:  0 15px;
}

.textos_input{
    margin: 0;
    font-size: 20px;
}

.login .inputs p {
    color: #722222;
    margin: 0;
    font-size: 20px;
}

.subscribe .inputs h5{
    color: #faf1d1;
    margin: 0;
    font-weight: normal;
}

a{
    color: #FFF8DC;
    text-decoration: none;
}
