.cabecalho{
    background-color: #343635;
    width: 100%;
    height: 80px;
    display: flex;
    gap: 15px; /* espaçamento entre imagem e texto */
}

.container_botao {
    margin-left: auto; /* empurra o botão para a direita */
    margin-right: 30px; /* adiciona uma margem à direita */
}
.cabecalho h1{
    color: #FFF8DC;
    width: 60%;
    padding-left: 10px;
}

.b {
    margin-top: 15px;
    margin-right: 30px;
    width: 270px;
    height: 48px;
    background-color:#6939ee;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #FFF8DC;
}

.ibagem{
    padding: 10px;
    border-radius: 50px;
}

