p{
    color: red;
}

.container_kanban{
    width: 100%;
    height: 80%;
    background-color: #5c5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.kanban_column{
    width: 15%;
    height: 90%;
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.kanban_column h2{
    flex-direction: flex-start;
    text-align: left;
}